<article class="home"
  igxLayout
  igxLayoutJustify="space-between">
  <div igxFlex="0 0 360px">
    <section class="budget">

      <section class="overview" (click)="clearFilterTransactions()">
        <h2 class="overview__title">Budget Allocation</h2>

        <span class="overview__label">Total</span>
        <span class="overview__value">{{ totalAmount$ | async | currency:'USD':'symbol':'1.0-0' }}</span>
        <span class="overview__label overview__label--warning">Unallocated</span>
        <span class="overview__value">{{ unallocatedAmount$ | async | currency:'USD':'symbol':'1.0-0' }}</span>
      </section>

      <section class="monthly">
        <igx-list>
          <igx-list-item>
            <div class="budget-item budget-item--header">
              <div class="budget-item__left">
                <div class="budget-item__name">Monthly</div>
              </div>
              <div class="budget-item__right">
                <div class="budget-item__amount">{{ subtotalAmountForMonthly$ | async | currency:'USD':'symbol':'1.0-0' }}</div>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item width="360px" *ngFor="let budget of budgetsForMonthly$ | async">
            <div class="budget-item"
              [ngClass]="{'budget-item--error': (budget.amount - budget.spentAmount) < 0 }"
              (click)="filterTransactions(budget)">
              <div class="budget-item__left">
                <div class="budget-item__name">{{ budget.name }}</div>
                <igx-linear-bar
                  [animate]="false"
                  [striped]="true"
                  [max]="budget.amount"
                  [value]="budget.spentAmount"
                  [type]="(budget.amount - budget.spentAmount) > 0 ? 'default' : 'danger' ">
                </igx-linear-bar>
              </div>
              <div class="budget-item__right">
                <div class="budget-item__remaining">{{ budget.amount - budget.spentAmount | currency:'USD':'symbol':'1.0-0' }}</div>
                <div class="budget-item__amount">{{  budget.amount | currency:'USD':'symbol':'1.0-0' }}</div>
              </div>
            </div>
          </igx-list-item>
        </igx-list>

        <igx-list>
          <igx-list-item>
            <div class="budget-item budget-item--header budget-item--subtotal">
              <div class="budget-item__left">
                <div class="budget-item__name">Every six months</div>
              </div>
              <div class="budget-item__right">
                <div class="budget-item__amount">{{ subtotalAmountForEverySixMonths$ | async | currency:'USD':'symbol':'1.0-0' }}</div>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item width="360px" *ngFor="let budget of budgetsForEverySixMonths$ | async">
            <div class="budget-item"
              [ngClass]="{'budget-item--error': (budget.amount - budget.spentAmount) < 0 }"
              (click)="filterTransactions(budget)">
              <div class="budget-item__left">
                <div class="budget-item__name">{{ budget.name }}</div>
                <igx-linear-bar
                  [animate]="false"
                  [striped]="true"
                  [max]="budget.amount"
                  [value]="budget.spentAmount"
                  [type]="(budget.amount - budget.spentAmount) > 0 ? 'default' : 'danger' ">
                </igx-linear-bar>
              </div>
              <div class="budget-item__right">
                <div class="budget-item__remaining">{{ budget.amount - budget.spentAmount | currency:'USD':'symbol':'1.0-0' }}</div>
                <div class="budget-item__amount">{{ budget.amount | currency:'USD':'symbol':'1.0-0' }}</div>
              </div>
            </div>
          </igx-list-item>
        </igx-list>
      </section>
    </section>
  </div>

  <div igxFlex="0 1 1000px">

    <section class="performance-summary"
      *ngIf="!isCreating; else transactionForm"
      igxLayout
      igxLayoutItemAlign="flex-end">

      <div class="performance-summary__column"
        igxFlex="0 0 256px">
        <aside class="notification" *ngIf="notifications?.length > 0">
          <button
            class="notification__budge"
            igxButton="icon"
            [igxToggleAction]="notificationToggle">
            <igx-badge
              type="default"
              [value]="notifications.length">
            </igx-badge>
          </button>

          <div
            class="notification__list"
            igxToggle
            #notificationToggle="toggle">
            <igx-card>
              <igx-card-header>
                <h3 class="igx-card-header__title">Notifications</h3>
              </igx-card-header>
              <igx-card-content>
                <div class="notification-item" *ngFor="let notification of notifications">

                  <span class="notification-item__message">{{ notification.message }}</span>
                  <span class="notification-item__time-ago">{{ notification.date | timeAgo }}</span>
                  <button
                    class="notification-item__check"
                    igxButton="icon"
                    (click)="clearNotification(notification)">
                    <igx-icon name="check"></igx-icon>
                  </button>
                </div>
              </igx-card-content>
              <igx-card-actions >
                <div class="igx-card-actions__igroup--end">
                  <button igxButton igxRipple (click)="clearAllNotifications(notifications)">CLEAR ALL</button>
                  <button igxButton igxRipple (click)="notificationToggle.close()">CLOSE</button>
                </div>
              </igx-card-actions>
            </igx-card>
          </div>
        </aside>
        <p class="current-month">{{ today | date:'MMM'}} '{{ today | date:'yy' }}</p>
        <p class="spent-value">{{ spentAmountForThisMonth | currency:'USD':'symbol':'1.0-0' }}</p>
      </div>

      <div class="performance-summary__column"
        igxFlex="1 0 312px">
        <div class="last-month">
          <span class="label">Last Month</span>
          <span class="delta-value"
            [ngClass]="{
              'delta-value--minus': spentAmountFromLastMonth < 0,
              'delta-value--plus': spentAmountFromLastMonth > 0
            }">
            <igx-icon name="{{ spentAmountFromLastMonth < 0 ? 'arrow_downward' : 'arrow_upward'}}"></igx-icon>
            {{ spentAmountFromLastMonth | currency:'USD':'symbol':'1.0-0' }} ({{ spentAmountForThisMonth / spentAmountFromLastMonth | percent }})
          </span>
        </div>

        <div class="last-year">
          <span class="label">Last Year</span>
          <span class="delta-value"
            [ngClass]="{
              'delta-value--minus': spentAmountFromLastYear < 0,
              'delta-value--plus': spentAmountFromLastYear > 0
            }">
            <igx-icon name="{{ spentAmountFromLastYear > 0 ? 'arrow_upward' : 'arrow_downward'}}"></igx-icon>
            {{ spentAmountFromLastYear | currency:'USD':'symbol':'1.0-0' }} ({{ spentAmountForThisMonth / spentAmountFromLastYear | percent }})
          </span>
      </div>
      </div>

      <div class="performance-summary__column"
        igxFlex="0 0 312px">
        <button class="add-button"
          igxButton="raised"
          igxRipple
          (click)="addExpense()">
          ADD EXPENSE
        </button>
      </div>

    </section>
    <ng-template #transactionForm>
      <form class="transaction-form"
        [formGroup]="form"
        igxLayout
        igxLayoutDir="column"
        igxLayoutJustify="space-between">
        <div igxLayout igxLayoutJustify="space-between">
          <igx-datePicker
            [vertical]="true"
            formControlName="date"
            igxFlex="0 0 312px">
          </igx-datePicker>
          <igx-input-group igxFlex="0 0 312px">
            <input
              type="text"
              formControlName="payee"
              igxInput>
            <label igxLabel>Payee</label>
          </igx-input-group>
          <igx-input-group igxFlex="0 0 202px">
            <input
              type="number"
              formControlName="amount"
              igxInput>
            <label igxLabel>Amount</label>
          </igx-input-group>
          <app-dropdown
            label="Currency"
            [items]="currencies"
            formControlName="currency"
            igxFlex="0 0 88px">
          </app-dropdown>
        </div>
        <div igxLayout igxLayoutJustify="space-between" igxLayoutItemAlign="flex-end">
          <app-dropdown
            label="From Budget"
            valueKey="id"
            textKey="name"
            [items]="budgets$ | async"
            formControlName="budgetId"
            igxFlex="0 0 312px">
          </app-dropdown>

          <button
            igxButton="raised"
            igxRipple
            (click)="createTransaction()"
            igxFlex="0 0 312px">
            CREATE
          </button>
        </div>
      </form>
    </ng-template>

    <section class="transactions">
      <h3 class="transactions__grid-title"
        igxLayout
        igxLayoutJustify="space-between"
        igxLayoutItemAlign="center">
        <ng-container *ngIf="(selectedBudget$ | async) as selectedBudget; else pending">
          {{ selectedBudget.name }} TRANSACTIONS
          <button
            igxButton="icon"
            igxRipple
            (click)="clearFilterTransactions()"
            igxFlex="0 0 auto">
            <igx-icon name="clear"></igx-icon>
          </button>
        </ng-container>
        <ng-template #pending>
          PENDING TRANSACTIONS
        </ng-template>
      </h3>
      <ng-container *ngIf="(transactions$ | async) as transactions">
        <igx-grid [data]="transactions" [width]="'1000px'" [height]="null">
          <igx-column width="164px" field="date" header="Date" dataType="date" [sortable]="true">
            <ng-container *igxCell="let value">
              {{ value | date:'MM/dd/yyyy' }}
            </ng-container>
          </igx-column>
          <igx-column width="72px" field="type" header="Type" dataType="string" [sortable]="true"></igx-column>
          <igx-column width="468px" field="payee" header="Payee" dataType="string" [sortable]="true"></igx-column>
          <igx-column width="156px" field="amount" header="Amount" dataType="number" [sortable]="true">
            <ng-container *igxCell="let value">
              {{ value | currency:'USD':'symbol':'1.0-0' }}
            </ng-container>
          </igx-column>
          <igx-column width="140px" field="verified" header="Status" dataType="boolean" cellClasses="status-cell">
            <ng-container *igxCell="let value; let verified; let cell = cell">
              <span *ngIf="verified; else elseBlock">VERIFIED</span>
              <ng-template #elseBlock>
                <button
                  igxButton="raised"
                  igxRipple
                  (click)="verifyTransaction(cell.row.rowData)">
                  VERIFY
                </button>
              </ng-template>
            </ng-container>
          </igx-column>
        </igx-grid>
      </ng-container>
    </section>
  </div>
</article>
