@import 'app-palette';

:host {
  display: block;
  width: 1376px;
  margin: auto;
}

.budget {
  width: 100%;

  .overview {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 172px;
    padding: 0.5em 1em;
    background-color: #fff;
    cursor: pointer;

    &__title {
      flex: 1 0 100%;
      width: 50%;
      margin: 0;
      font-size: 34px;
    }

    &__label {
      flex: 0 1 auto;
      text-align: right;

      &--warning {
        color: igx-color($app-palette, 'error');
      }
    }

    &__value {
      flex: 0 1 auto;
      font-size: 34px;
      text-align: right;
    }
  }
}

.budget-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  $this: &;

  // Elements
  &__left {
    flex: 0 0 240px;
  }

  &__right {
    text-align: right;
  }

  &__name {
  }

  &__remaining {
    color: $app-primary-color;
    font-size: 14px;
  }

  &__amount {
    font-size: 14px;
  }

  // Modifiers
  &.budget-item--header {
    min-height: 3em;
    margin: -0.5em -1em;
    padding: 0.5em 1em;
    background-color: #45bdff;
  }

  &--error {
    #{$this}__name {
      color: igx-color($app-palette, 'error');
    }

    #{$this}__remaining {
      color: igx-color($app-palette, 'error');
    }
  }
}

/** @define performance-summary */

.performance-summary {
  width: 100%;
  height: 156px;
  padding: 16px;
  background-color: #fff;
}

.performance-summary__column:nth-child(1) {
  position: relative;
  text-align: right;

  .current-month {
    font-size: 45px;
  }

  .spent-value {
    font-size: 56px;
  }

  .notification {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;

    &__budge {
      position: absolute;
      top: -24px;
      left: -12px;
    }

    &__list {
      position: absolute;
      top: 8px;
      left: -4px;
      z-index: 3;
      width: 410px;

      .notification-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &__message {
          flex: 2 1 auto;
        }

        &__time-agp {
          flex: 1 1 auto;
        }

        &__check {
          flex: 0 0 auto;
        }
      }
    }
  }
}

.performance-summary__column:nth-child(2) {
  .last-month,
  .last-year {
    display: flex;

    .label {
      flex: 0 0 104px;
      text-align: right;
    }

    .delta-value {
      display: flex;
      align-items: center;

      &--minus {
        color: igx-color($app-palette, 'success');
      }

      &--plus {
        color: igx-color($app-palette, 'error');
      }
    }
  }

  .igx-icon {
    font-size: 16px;
  }
}

.performance-summary__column:nth-child(3) {
  .add-button {
    width: 100%;
  }
}

/** @end */

/** @define transaction-form */

.transaction-form {
  width: 100%;
  height: 156px;
  padding: 16px;
  background-color: #fff;
}

/** @end */

/** @define transactions */
.transactions {
  width: 100%;
  margin-top: 16px;
}

.transactions__grid-title {
  height: 64px;
  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 20px;
  background-color: #45bdff;
}

/** @end */

// TODO: think about better way
::ng-deep {
  .status-cell {
    align-self: center;
    padding: 0;
    text-align: center;
  }
}
