@import 'app-palette';

/** @define settings */

.settings {
  display: block;
  width: 960px;
  margin: auto;
  padding: 16px;
  background-color: white;
}

.settings__category {
  & + .settings__category {
    margin-top: 24px;
  }
}

.settings__title {
  margin: 0;
  color: $app-primary-color;
  font-size: 24px;
}

.settings__input {
  margin-top: 32px;
}

.settings__checkbox {
  margin-top: 8px;
}

.settings__actions {
  margin-top: 24px;
  text-align: right;
}

.settings__action-button {
  width: 120px;
  height: 40px;

  & + .settings__action-button {
    margin-left: 16px;
  }
}

/** @end */
