<ng-container *ngIf="form">
  <form class="settings" [formGroup]="form">
    <div igxLayout igxLayoutDir="column" igxLayoutItemAlign="stretch">
      <div igxFlex igxLayout igxLayoutJustify="space-between">
        <div igxFlex="0 0 400px">
          <section class="settings__category">
            <h3 class="settings__title">Account Settings</h3>
            <igx-input-group class="settings__input">
              <input
                type="text"
                formControlName="userName"
                igxInput>
              <label igxLabel>User Name</label>
            </igx-input-group>
            <igx-input-group class="settings__input">
              <input
                type="text"
                formControlName="email"
                igxInput>
              <label igxLabel>Email</label>
            </igx-input-group>
          </section>

          <section class="settings__category">
            <h3 class="settings__title">Notifications</h3>
            <igx-checkbox class="settings__checkbox" formControlName="notifyIncome">On Income</igx-checkbox>
            <br>
            <igx-checkbox class="settings__checkbox" formControlName="notifyBudgetAllocation">On Budget Allocation</igx-checkbox>
            <br>
            <igx-checkbox class="settings__checkbox" formControlName="notifyExpense">On Expense</igx-checkbox>
            <br>
            <igx-checkbox class="settings__checkbox" formControlName="notifyTransfer">On Transfer</igx-checkbox>
          </section>
        </div>
        <div igxFlex="0 0 400px">
          <section class="settings__category">
            <h3 class="settings__title">Change Password</h3>
            <igx-input-group class="settings__input">
              <igx-prefix>
                <igx-icon name="lock"></igx-icon>
              </igx-prefix>
              <input
                type="password"
                formControlName="oldPassword"
                igxInput>
              <label igxLabel>Old Password</label>
            </igx-input-group>
            <igx-input-group class="settings__input">
              <igx-prefix>
                <igx-icon name="lock"></igx-icon>
              </igx-prefix>
              <input
                type="password"
                formControlName="newPassword"
                igxInput>
              <label igxLabel>New Password</label>
            </igx-input-group>
            <igx-input-group class="settings__input">
              <igx-prefix>
                <igx-icon name="lock"></igx-icon>
              </igx-prefix>
              <input
                type="password"
                formControlName="repeatNewPassword"
                igxInput>
              <label igxLabel>Repeat New Password</label>
            </igx-input-group>
          </section>

          <section class="settings__category">
            <h3 class="settings__title">Default Currency</h3>
            <app-dropdown  class="settings__input"
            label="Currency"
            [items]="currencies" formControlName="currency">
            </app-dropdown>
          </section>

          <section class="settings__category">
            <h3 class="settings__title">Time Zone</h3>
            <app-dropdown  class="settings__input"
              label="Time Zone"
              [items]="timezones$ | async" formControlName="timezone">
            </app-dropdown>
          </section>
        </div>
      </div>

      <div class="settings__actions" igxFlex>
        <button
          class="settings__action-button"
          igxButton
          igxRipple
          (click)="cancelProfile()">
          CANCEL
        </button>

        <button
          class="settings__action-button"
          igxButton="raised"
          igxRipple
          (click)="saveProfile()">
          SAVE
        </button>
      </div>
    </div>
  </form>
</ng-container>
