@import '~igniteui-angular/lib/core/styles/themes/index';
@import '../../../../app-palette';

$primary-100: igx-color($app-palette, 'primary', 100);

:host {
  display: block;
}

/** @define dropdown */

.dropdown {
  position: relative;
}

.dropdown__list-container {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.dropdown__list {
  list-style-type: none;
  background-color: white;
  box-shadow: igx-elevation($elevations, 4);
}

.dropdown__virtual-container {
  position: relative;
  max-height: 240px;
  overflow: hidden;
}

.dropdown__list-item {
  &.is-selected {
    background-color: lighten($primary-100, 5);
  }

  &:hover {
    background-color: lighten($primary-100, 10);
  }
}

/** @end */
