<article class="add-income">

  <form
    class="add-income__form"
    [formGroup]="form">
    <igx-input-group>
      <igx-datePicker
        [vertical]="true"
        formControlName="date">
      </igx-datePicker>
      <label>Date</label>
    </igx-input-group>
    <igx-input-group>
      <input
        type="text"
        formControlName="payee"
        igxInput>
      <label igxLabel>Payee</label>
    </igx-input-group>
    <igx-input-group>
      <input
        type="number"
        formControlName="amount"
        igxInput>
      <label igxLabel>Amount</label>
    </igx-input-group>
    <igx-input-group>
      <input
        type="string"
        value="USD"
        igxInput>
    </igx-input-group>
    <button
      igxButton="raised"
      igxRipple
      (click)="addIncome()">
      ADD
    </button>
  </form>

  <figure class="add-income__chart">
    <svg width="952px" height="337px" viewBox="0 0 952 337" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Add-Income" transform="translate(-244.000000, -240.000000)" fill="#0099FF">
              <g id="Bar-Chart" transform="translate(244.000000, 240.000000)">
                  <rect id="Rectangle" x="0" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy" x="80" y="113" width="72" height="223" rx="4"></rect>
                  <rect id="Rectangle-Copy-2" x="160" y="287" width="72" height="50" rx="4"></rect>
                  <rect id="Rectangle-Copy-3" x="240" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy-4" x="320" y="22" width="72" height="314" rx="4"></rect>
                  <rect id="Rectangle-Copy-5" x="400" y="289" width="72" height="48" rx="4"></rect>
                  <rect id="Rectangle-Copy-6" x="480" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy-7" x="560" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy-8" x="640" y="54" width="72" height="282" rx="4"></rect>
                  <rect id="Rectangle-Copy-9" x="720" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy-10" x="800" y="335" width="72" height="1" rx="0.5"></rect>
                  <rect id="Rectangle-Copy-11" x="880" y="0" width="72" height="336" rx="4"></rect>
              </g>
          </g>
      </g>
    </svg>
  </figure>

  <div class="add-income__grid">
    <ng-container *ngIf="(incomes$ | async) as incomes">
      <igx-grid [data]="incomes" width="960px">
        <igx-column field="date" header="Date" dataType="date"></igx-column>
        <igx-column field="payee" header="Payee" dataType="string"></igx-column>
        <igx-column field="amount" header="Amount" dataType="number"></igx-column>
      </igx-grid>
    </ng-container>
  </div>
</article>
