<div class="row-layout group">
  <div class="row-layout group_1">
    <h6 class="h6">
      Rapid Fission Inc
    </h6>
    <button igxButton="flat" igxRipple routerLink="/home" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/my-info" class="button">
      My Info
    </button>
    <button igxButton="flat" [disabled]="true" igxRipple class="button">
      People
    </button>
    <button igxButton="flat" [disabled]="true" igxRipple class="button">
      My Files
    </button>
  </div>
  <div class="row-layout group_2">
    <button igxButton="icon" igxRipple class="button_1">
      <igx-icon>
        notifications
      </igx-icon>
    </button>
    <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true"></igx-avatar>
  </div>
</div>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
