@import '~igniteui-angular/lib/core/styles/base/utilities/functions';
@import '~igniteui-angular/lib/core/styles/themes/palettes';

$app-primary-color: igx-color($default-palette, 'primary', 500);
$app-secondary-color: $app-primary-color;

$app-palette: igx-palette(
  $primary: $app-primary-color,
  $secondary: $app-secondary-color
);
