<div class="row-layout group">
  <div class="row-layout group_1">
    <igx-icon class="icon">
      home
    </igx-icon>
    <h4 class="h4">
      Home
    </h4>
  </div>
</div>
<div class="row-layout group_2">
  <div class="row-layout group_3">
    <div class="column-layout group_4">
      <div class="row-layout group_5">
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" size="medium" [roundShape]="true" class="avatar"></igx-avatar>
        <div class="column-layout group_6">
          <h5 class="content">
            Erin Brockovich
          </h5>
          <p class="content">
            Water quality specialist
          </p>
        </div>
      </div>
      <div class="row-layout group_7">
        <div class="column-layout group_8">
          <p class="igx-typography__subtitle-2 text">
            Open PTO
          </p>
          <igx-icon class="icon_1">
            date_range
          </igx-icon>
          <p class="igx-typography__body-2 text_1">
            8.5 days used (YTD)
          </p>
          <p class="igx-typography__caption text_1">
            1 day scheduled
          </p>
        </div>
        <div class="column-layout group_9">
          <p class="igx-typography__subtitle-2 text">
            Bereavement leave
          </p>
          <div class="row-layout group_10">
            <h6 class="content_1">
              0.0
            </h6>
            <igx-icon class="icon_2">
              date_range
            </igx-icon>
          </div>
          <p class="igx-typography__body-2 text_1">
            Days available
          </p>
          <p class="igx-typography__caption text_1">
            0 day scheduled
          </p>
        </div>
      </div>
      <div class="row-layout group_11">
        <button igxButton="raised" igxRipple class="button">
          <igx-icon>
            send
          </igx-icon>
          <span>Request time off</span>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            email
          </igx-icon>
        </button>
      </div>
      <div class="column-layout group_12">
        <p class="igx-typography__subtitle-2 text_2">
          What's the buzz
        </p>
        <div class="column-layout list_scroll">
          <igx-list class="list">
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true"></igx-avatar>
              </span>
              <span igxListLineTitle>Ethan Hunt</span>
              <span igxListLineSubTitle>Birthday, Oct 1</span>
              <span igxListAction>
                <igx-icon class="icon_3">
                  cake
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" [roundShape]="true"></igx-avatar>
              </span>
              <span igxListLineTitle>Luke Skywalker</span>
              <span igxListLineSubTitle>25th work-anniversary</span>
              <span igxListAction>
                <igx-icon class="icon_3">
                  flag
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true"></igx-avatar>
              </span>
              <span igxListLineTitle>Donnie Darko</span>
              <span igxListLineSubTitle>On vacation, Oct 10-23</span>
              <span igxListAction>
                <igx-icon class="icon_3">
                  beach_access
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true"></igx-avatar>
              </span>
              <span igxListLineTitle>Edna Mode</span>
              <span igxListLineSubTitle>Visiting customer</span>
              <span igxListAction>
                <igx-icon class="icon_3">
                  airplanemode_active
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
    </div>
    <div class="column-layout group_13">
      <div class="column-layout group_14">
        <div class="row-layout group_15">
          <p class="igx-typography__subtitle-2 text_3">
            What's happening at Rapid Fission Inc
          </p>
          <p class="igx-typography__subtitle-2 text_3">
            Announcements (1)
          </p>
        </div>
        <igx-list class="list">
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" [roundShape]="true"></igx-avatar>
            </span>
            <span igxListLineTitle>George Bailey posted  an announcement, awards, and call for nominations</span>
            <span igxListLineSubTitle>19 days ago</span>
            <span igxListAction>
              <igx-icon class="icon_3">
                clear
              </igx-icon>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column-layout group_16">
        <div class="row-layout group_17">
          <p class="igx-typography__subtitle-2 content_1">
            MY BENEFITS
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar icon="security" [roundShape]="true" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Radiation protection health insurance planre</span>
          <span igxListLineSubTitle>$600 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar icon="remove_red_eye" [roundShape]="true" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>20/20 Vision plans here</span>
          <span igxListLineSubTitle>$234 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar icon="child_friendly" [roundShape]="true" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Child care savings</span>
          <span igxListLineSubTitle>$4955 remaining</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar icon="security" [roundShape]="true" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Fire hazard protection  </span>
          <span igxListLineSubTitle>On da house!</span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
<div class="row-layout group_18">
  <p class="igx-typography__body-2 text_4">
    (c) 2020 Rapid Fission Inc
  </p>
</div>
